


/* ============ layout SWITCH - 920 px and bigger ============ */
/* 920 px or bigger so ipad airs can have a side bar too */
@media (min-width : 57.5rem){

    .main-wrapper{
        flex-direction: row-reverse;
    }

    main{
        margin-right: 14rem;
        
    }

    .nav-section{
        width: 14rem;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
        position: fixed;
      
    }

    .my-brand{
        flex-direction: column;
        align-items: center;
    }

    .short-logotype{
        display:none;
    }

    .logotype{
        display: block;
        color: var(--navbar-text-color);
        text-decoration: none;
        text-align: center;
        font-size: 1.7rem;
        line-height: 2rem;
        padding: 0 2rem ;

    }

    .smiley-logo{
        display: block;
        width: 5.9rem;
        height: auto;
        margin-bottom: 0.8rem;
        
    }

    nav{
        flex-direction: column;
    }

    nav a{
        text-align: center;
        font-weight: 400;
        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;
        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
    }


    nav a:hover, nav a:focus{
        color: var(--navbar-color);
        background-color: var(--navbar-text-color);

        margin: 0.5rem 0;
        padding: 0.4rem 1.8rem;

        border: var(--navbar-text-color) 0.18rem solid;
        border-radius: 10rem;
        text-decoration: none;
    }

    nav a:focus{
        text-decoration: underline;
    }


    footer{
        display: none;
    }

    .side-footer{
        display: block;
    }

    .side-footer p{
        display: block;
        color:var(--navbar-text-color);
        text-align: center;
        font-size: 0.7rem;
        font-weight: 200;
    }

    .space-fixer-div{
        display: block; 
    }



}