

/* code section ================= General styling =================  */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

::selection {
    background: #ff9ce0;
}

/* declaring global css varibales */
:root{
    --main-bodycopy-color: #000;
    --secondary-bodycopy-color: white;
    --main-bg-color: #ecebeb;
    --primary-color: #16874F;
    --link-color: #fb5353;
    --link-hover-color: #00b649;
}


.main-wrapper{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}


body{
    background-color: var(--main-bg-color);
}

img{
    display: block;
    height: auto;
    max-width:100%;
}


a{
    font-family: "abc-diatype-round", sans-serif;
    color: var(--link-color);
    word-break: break-word;
}

a:hover, a:focus{
    color:var(--link-hover-color);
    text-decoration:underline;
}

p{
    font-family: "abc-diatype-round", sans-serif;
    color: var(--main-bodycopy-color);
    font-size:0.85rem;
    font-weight: 300;
}

h1{
    font-family: "abc-diatype-round",sans-serif;
    color: var(--secondary-bodycopy-color);
    font-weight: 400;
}

h2{
    font-family: "abc-diatype-round",sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
}

h3{
    font-family: sans-serif;

}

h4{
    font-family: sans-serif;

}




/* mobile styling of nav section */
.nav-section{
    background-color: var(--primary-color);
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.7rem;

}

.my-brand{
    display:flex;
    flex-direction: row-reverse;
    align-items: center ;

}

.logotype{
    display: none;
}

.short-logotype{
    display:block;
    font-weight: 300;
    font-size: 1.85rem;
    color: var(--secondary-bodycopy-color);
    text-decoration: none;
    margin:0.2rem;
    margin-top: 0.4rem;
    padding:0;
}

.smiley-logo{
    width:1.7rem;
    height:auto;
}

.my-brand a:hover, .my-brand a:focus{
    color: var(--secondary-bodycopy-color);
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a{
    display: block;
    font-size: 1rem;
    font-weight: 300;
    color: var(--secondary-bodycopy-color);
    margin: 0 0.5rem;
    text-decoration: none;

}

nav a:hover, nav a:focus{
    color: var(--secondary-bodycopy-color);
    text-decoration: underline;
}

.callout{
    font-family: "family",sans-serif;
    font-weight: 100;
    font-size: 1.8rem;

}

main{
    flex-grow:1;
}

.side-footer{
    display: none;
}

footer{
    background-color: var(--primary-color);
    padding: 1rem;
    margin-top: 1.5rem;
}

footer p{
    display: block;
    color:var(--secondary-bodycopy-color);
    text-align: center;
    font-size: 0.7rem;
    font-weight: 200;
}